:root {
  --button-bg: #000000b3;
  --button-active-bg: ##fafafa80;
  --small-button-bg: #919191;
  --small-button-active-bg: #646464;
  --button-text: #ffffff;
  --card: #ffffff;
  --accountText: #eeeeee;
  --contractText: #cc7000;
  --statusText: #04FF00;
  --bg-gradient_1: rgb(20, 20, 31);
  --bg-gradient_2: rgb(75, 80, 230);
  --gradient_1: rgb(75, 80, 230);
  --gradient_2: rgb(66, 66, 66);
  --gradient_3: rgb(20, 20, 31);
  --success: #24a13f;
  --warning: #ca5824;
  --error: #ca2f24;
  --face: transparent;
  --lowlight: #111;
  --side: #666;
  --side-dark: #120e08;
  --ticket-height: 20rem;
  --ticket-width: 60rem;
  /* ***  change address here:**** */
  --ticket-face: url("https://gateway.pinata.cloud/ipfs/QmeZksEGADrQTerGB83oFUqtfYVAMJ71JS43a5fNLPq1ax/000000000000000000000000000000000000000000000000000000000bronze2.png");
}

* {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 14px;
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(
      var(--bg-gradient_1) 0%,
      var(--bg-gradient_2) 100%
    )
    fixed;
  overflow-x: hidden;
  width: 100vw;
}

.colorGradient {
  background: linear-gradient(
      to bottom,
      var(--gradient_1) 0%,
      var(--gradient_2) 65%,
      var(--gradient_3) 100%
    )
    fixed;
}

.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  background-image: url("../assets/spacetoon-bg.jpg");
  background-color: var(--card);
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 300px;
  transition: 0.3s;
  margin: 50px;
  position: relative;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_header {
  height: 250px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}

.card_header_image {
  position: absolute;
  width: 100%;
  transform: translate3d(0px, -8.06px, 0px) rotate(10deg);
  transform-origin: 50% 50% 0px;
}

.card_logo_image {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  top: 20px;
  left: 20px;
}

.card_body {
  padding: 15px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_body_view_contract {
  padding-right: 15px;
  padding-left: 15px;
}

.card_footer {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spin {
  animation: item-spin infinite 20s linear;
}

.statusText {
  color: var(--statusText);
  font-weight: normal;
  text-align: center;
}

.accountText {
  color: var(--accountText);
  font-weight: bold;
}

.contractText {
  color: var(--contractText);
  font-weight: bold;
}

.ns {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

._90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(-90deg);
}

.button {
  display: inline-block;
  padding: 7px 14px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--button-text);
  background-color: var(--button-bg);
  border: none;
  border-radius: 15px;
  margin-bottom: 2px;
}

button:disabled {
  opacity: 0.5;
}

.button:active {
  background-color: var(--button-active-bg);
}

.small_button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--button-text);
  background-color: var(--small-button-bg);
  border: none;
  border-radius: 15px;
  margin-bottom: 2px;
}

.small_button:disabled {
  opacity: 0.5;
}

.small_button:active {
  background-color: var(--small-button-active-bg);
}

.ticket {
  height: var(--ticket-height);
  width: var(--ticket-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-position: center;
}

#ticketId {
  justify-content: center;
  display: flex;
}

.ticket::before {
  content: "";
  display: block;
  position: relative;
  height: var(--ticket-height);
  width: var(--ticket-width);
  background-color: var(--face);
  animation: spin 5s linear infinite;
  background-image: var(--coin-face);
  background-size: 100% 100%;
  background-position: center;
  background-blend-mode: overlay;
}

/* animation definitions */

@keyframes spin {
  0% {
    width: var(--ticket-width);
    box-shadow: 0 0 0 var(--side-dark);
    animation-timing-function: ease-in;
  }

  49.999% {
    width: 0.1rem;
    box-shadow: 0.05rem 0 0 var(--side), 0.1rem 0 0 var(--side),
      0.15rem 0 0 var(--side), 0.2rem 0 0 var(--side), 0.25rem 0 0 var(--side),
      0.3rem 0 0 var(--side), 0.35rem 0 0 var(--side), 0.4rem 0 0 var(--side),
      0.45rem 0 0 var(--side), 0.5rem 0 0 var(--side), 0.55rem 0 0 var(--side),
      0.6rem 0 0 var(--side), 0.65rem 0 0 var(--side), 0.7rem 0 0 var(--side),
      0.75rem 0 0 var(--side);
    transform: translateX(-0.375rem);
    background-color: var(--lowlight);
    animation-timing-function: linear;
  }

  50.001% {
    width: 0.1rem;
    box-shadow: -0.05rem 0 0 var(--side), -0.1rem 0 0 var(--side),
      -0.15rem 0 0 var(--side), -0.2rem 0 0 var(--side),
      -0.25rem 0 0 var(--side), -0.3rem 0 0 var(--side),
      -0.35rem 0 0 var(--side), -0.4rem 0 0 var(--side),
      -0.45rem 0 0 var(--side), -0.5rem 0 0 var(--side),
      -0.55rem 0 0 var(--side), -0.6rem 0 0 var(--side),
      -0.65rem 0 0 var(--side), -0.7rem 0 0 var(--side),
      -0.75rem 0 0 var(--side);
    transform: translateX(0.375rem);
    background-color: var(--lowlight);
    animation-timing-function: ease-out;
  }

  100% {
    width: var(--ticket-width);
    box-shadow: 0 0 0 var(--side-dark);
  }
}

@keyframes flip {
  0% {
    height: var(--ticket-height);
    box-shadow: 0 0 0 var(--side-dark);
    animation-timing-function: ease-in;
  }

  49.999% {
    height: 0.1rem;
    box-shadow: 0 0.05rem 0 var(--side), 0 0.1rem 0 var(--side),
      0 0.15rem 0 var(--side), 0 0.2rem 0 var(--side), 0 0.25rem 0 var(--side),
      0 0.3rem 0 var(--side), 0 0.35rem 0 var(--side), 0 0.4rem 0 var(--side),
      0 0.45rem 0 var(--side), 0 0.5rem 0 var(--side), 0 0.55rem 0 var(--side),
      0 0.6rem 0 var(--side), 0 0.65rem 0 var(--side), 0 0.7rem 0 var(--side),
      0 0.75rem 0 var(--side);
    transform: translateY(-0.375rem);
    background-color: var(--lowlight);
    animation-timing-function: linear;
  }

  50.001% {
    height: 0.1rem;
    box-shadow: 0 -0.05rem 0 var(--side), 0 -0.1rem 0 var(--side),
      0 -0.15rem 0 var(--side), 0 -0.2rem 0 var(--side),
      0 -0.25rem 0 var(--side), 0 -0.3rem 0 var(--side),
      0 -0.35rem 0 var(--side), 0 -0.4rem 0 var(--side),
      0 -0.45rem 0 var(--side), 0 -0.5rem 0 var(--side),
      0 -0.55rem 0 var(--side), 0 -0.6rem 0 var(--side),
      0 -0.65rem 0 var(--side), 0 -0.7rem 0 var(--side),
      0 -0.75rem 0 var(--side);
    transform: translateY(0.375rem);
    background-color: var(--lowlight);
    animation-timing-function: ease-out;
  }

  100% {
    height: var(--ticket-height);
    box-shadow: 0 0 0 var(--side-dark);
  }
}

@mixin flexify {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

@mixin roundaf {
  border-radius: 5px;
}

.App {
  @include flexify;
  justify-content: flex-start;
  text-align: center;
  color: hotpink;
  height: 200vh;
}

.launcher {
  &__container {
    @include flexify;
    width: 75%;
    height: 100px;
    color: white;
  }

  &__button{
    @include roundaf;
    height:30px;
    width: 90px;
    margin-top: 10px;
  } 

  &__fixed-selector {
    label {
      font-size: 12px;
    }
  }
}

#revealarea {
  @include flexify;
  width: 100vw;
}

.ticketbar {
  &__container {
    @include flexify;
    @include roundaf;

    flex-flow: row nowrap;
    position: fixed;
    bottom: 15px;
    height: 30px;
    width: 200px;
    background: hotpink;
    margin: 0 auto;
    animation: woot 600ms;
    overflow: hidden;
  }

  &__message, &__dismiss {
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  &__message {
    display: block;
    flex: 1 0 85%;
    font-weight: 500;
    font-size: 14px;
  }

  &__dismiss {
    display: block;
    flex: 0 1 15%;
    font-weight: 300;
    font-size: 12px;
    color:black;
  }
}

@keyframes woot {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
